# URL du backend (sans slash final)
# Production : https://ton-domaine.com
# Dev Android emulator : http://10.0.2.2:3000
# Dev iOS simulator : http://localhost:3000
EXPO_PUBLIC_API_URL=http://10.0.2.2:3000
